.container{
	width: 960px;
	padding: 0 10px;
	background-color: blueviolet;
	margin: 0 auto;
}


.header {
	display: inline-flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

.avatar {
	position: absolute;
}

.block2 {
	width: 280px;
	min-height: 270px;
	margin-left: 230px;
	padding: 10px;
	background-color: lightgreen;
	display: inline-flex;
	position: relative;
	text-align: justify;
}

.block3 {
	width: 400px;
	min-height: 270px;
	margin-left: 10px;
	padding: 10px;
	background-color: lightgreen;
	display: inline-flex;
	text-align: justify;
}

.left {
	float: left;
	min-height: 498px;
	margin-top: 0px;
	width: 220px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.center {
	width: 730px;
	float: right;
}

ul {
	margin-top: 0px;
	font-weight: bold;
	padding-left: 15px;
}

ol {
	margin-top: 10px;
	margin-left: 15px;
	font-weight: bold;
	padding-left: 10px;
}

li {
	font-weight: normal;
}

.list {
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: lightgreen;
}

.block5 {
	width: 730px;
	text-align: center;
	background-color: lightgreen;
}	

.image {
	width: 105px;
	height: 158px;
	float: left;
	margin-top: 10px;
	display: inline-flex;
} 

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
}

.doubled-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	text-align: justify;
}

.info {
	width: 340px;
	padding: 10px;
	background-color: lightgreen;
	position: relative;
}

.footer {
	display: inline-flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

.list1 {
	width: 320px;
	background-color: lightgreen;
}

.list2 {
	width: 320px;
	margin-left: 10px;
	background-color: lightgreen;
}

.doubled-copyright {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	justify-content: space-between;
}

.copyright {
	width: 300px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-style: oblique;
	font-family: serif;
	background-color: lightgreen;
}

.copyright-image {
	/*display: flex;*/
	/*align-items: flex-start;*/
}

* {
	font-family: Arial, sans-serif;
	line-height: 22px;
	font-size: 14px;
}

button {
	position: absolute;
	bottom: 5px;
	background-color: blueviolet;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 10px;
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	outline: none;
}
